{% for type, value in data %}
    <a
        href="https://{{ value.prefix ?? '' }}{{ type }}.com/{{ value.username }}"
        title="{{ type|capitalize }}"
        target="_blank"
        rel="nofollow,noopener"
        class="text-muted-foreground hover:text-foreground transition-colors"
    >
        {{ ux_icon('fa6-brands:' ~ type, {'class': 'icon-inline'}) }}
    </a>
{% endfor %}

