{% for type, value in data %}
    <a
        href="https://{{ value.prefix ?? '' }}{{ type }}.com/{{ value.username }}"
        title="{{ type|capitalize }}"
        target="_blank"
        rel="nofollow,noopener"
        class="inline-flex items-center justify-center w-8 h-8 rounded-md text-muted-foreground hover:bg-accent hover:text-accent-foreground transition-colors"
    >
        {{ ux_icon('fa6-brands:' ~ type, {'class': 'icon-inline'}) }}
    </a>
{% endfor %}

