{% for type, value in data %}
    <a
        href="https://{{ value.prefix ?? '' }}{{ type }}.com/{{ value.username }}"
        title="{{ type|capitalize }}"
        target="_blank"
        rel="nofollow,noopener"
    >
        {{ ux_icon('fa6-brands:' ~ type, {'class': 'icon-inline text-gray-600 hover:text-black'}) }}
    </a>
{% endfor %}
