{% extends 'base.html.twig' %}

{% block title %}404 Page not found // {{ author }}{% endblock %}
{% block header_image %}
    {% set banner = unsplash_photo('rain', 1600, 300) %}
    <img
        class="h-full w-full object-cover"
        src="{{ banner.blurhash }}"
        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
            src: banner.fullUrl
        }) }}
        alt="It rains, probably cause you are lost">
{% endblock %}

{% block sub_profile %}
    <div class="text-center mt-6">
        <h2 class="inline-block text-2xl font-semibold">🛑 404 Page not found 🛑</h2>
    </div>
{% endblock %}
{% block body %}
<div class="flex flex-col items-center">
    <img class="w-auto h-auto bg-background border border-foreground p-2" src="{{ gif(random(['sad', 'lost'])) }}" alt="sad">
    {{ include('_partials/back_home.html.twig') }}
</div>
{% endblock %}
